<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://win5063.site4now.net:8172/MsDeploy.axd?site=webpersonal-001-site1</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5063.site4now.net:8172/MsDeploy.axd?site=webpersonal-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>webpersonal-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>webpersonal-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UIToCode" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f570_webpersonal;User ID=db_a7f570_webpersonal_admin;Password=1QaisYousuf" Name="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f570_webpersonal;User Id=db_a7f570_webpersonal_admin;Password=1QaisYousuf" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-5LURODB\SQLEXPRESS;Initial Catalog=UIToCode;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UIToCode_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DESKTOP-5LURODB\SQLEXPRESS; initial catalog=UIToCode; integrated security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UIToCode-Web.config Connection String">
      <ParameterValue>Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f570_webpersonal;User Id=db_a7f570_webpersonal_admin;Password=1QaisYousuf</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>