@model QaisYousuf.ViewModels.ListOfAboutPage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}

@if (Model?.AboutPageList != null)
{


<div class="container my-4">

    @foreach (var item in Model.AboutPageList.Take(1))
    {
        <div class="container my-5">


            <!--Section: Content-->
            <section class="px-md-2 mx-md-2 py-5 text-center white-text rounded">

                <div class="img-fluid">
                    <lottie-player src=@item.Content background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                </div>

            </section>
            <!--Section: Content-->


        </div>
    }
    <!--Section: Content-->
    <!--Section: Content-->


</div>
}


@section AboutCustomCSS
{
    @Styles.Render("~/Content/AboutCustomCSS.css")
}