@model QaisYousuf.ViewModels.ListOfAboutPage
@{
    ViewBag.Title = ViewBag.PageTitle;
}


@if (Model?.StartProcessListViewModel != null)
{
<div class="svgBackground">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#74d5de" fill-opacity="1" d="M0,96L30,101.3C60,107,120,117,180,112C240,107,300,85,360,80C420,75,480,85,540,101.3C600,117,660,139,720,133.3C780,128,840,96,900,80C960,64,1020,64,1080,74.7C1140,85,1200,107,1260,106.7C1320,107,1380,85,1410,74.7L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
</div>
<div class="StartUpprocessBackground">
    <div class="container my-5 py-5 z-depth-0">
        @foreach (var item in Model.StartProcessListViewModel.Take(1))
        {
            <div class="text-center text-white">
                <div class="display-3 text-white  mb-4 pb-5 mt-lg-n5">@item.MainTitle</div>
            </div>

        }

        <!--Section: Content-->
        <section class="dark-grey-text text-center mt-4">




            <div class="row">
                @foreach (var SubItem in Model.StartProcessListViewModel)
                {

                <div class=" col-md-4 mb-5  text-center">
                    <div class="aboutbackgroundContent img-fluid">
                        <svg width="220" height="230" viewBox="0 0 261 237" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="HomeBackground">
                                <g id="One">
                                    <path id="One_2" d="M256.48 74.098C272.626 120.501 243.744 183.881 198.033 214.666C152.322 245.45 89.7824 243.64 49.0746 213.987C8.5943 184.108 -10.0539 126.16 5.41045 80.6623C20.6474 35.1645 69.9971 1.88994 124.805 0.0790838C179.84 -1.73178 240.56 27.6947 256.48 74.098Z" fill="url(#paint0_linear)" fill-opacity="0.36" />
                                </g>
                                <g id="Tow">
                                    <g id="Tow_2" filter="url(#filter0_i)">
                                        <path d="M236.207 81.2173C249.755 120.18 225.521 173.398 187.166 199.247C148.811 225.096 96.3347 223.575 62.1776 198.677C28.2113 173.588 12.5639 124.932 25.5398 86.7291C38.3249 48.5263 79.7332 20.5869 125.721 19.0664C171.9 17.5459 222.849 42.2542 236.207 81.2173Z" fill="url(#paint1_linear)" fill-opacity="0.36" />
                                    </g>
                                </g>
                                <g id="Three">
                                    <g id="Three_2" filter="url(#filter1_i)">
                                        <path d="M213.038 89.4607C223.617 119.809 204.694 161.26 174.746 181.393C144.797 201.527 103.823 200.342 77.1523 180.949C50.6307 161.408 38.4129 123.51 48.5448 93.7538C58.5276 63.9979 90.8601 42.236 126.769 41.0517C162.826 39.8674 202.608 59.1126 213.038 89.4607Z" fill="url(#paint2_linear)" fill-opacity="0.36" />
                                    </g>
                                </g>
                                <g id="Four">
                                    <g id="Four_2" filter="url(#filter2_i)">
                                        <path d="M186.008 98.8282C193.123 119.387 180.397 147.466 160.256 161.105C140.115 174.744 112.559 173.942 94.6229 160.804C76.7868 147.567 68.5701 121.894 75.3839 101.736C82.0975 81.5792 103.842 66.8373 127.991 66.035C152.24 65.2328 178.994 78.2698 186.008 98.8282Z" fill="url(#paint3_linear)" fill-opacity="0.36" />
                                    </g>
                                </g>
                                <g id="Five">
                                    <g id="Five_2" filter="url(#filter3_i)">
                                        <path d="M163.805 106.697C168.074 119.032 160.438 135.88 148.354 144.063C136.269 152.246 119.736 151.765 108.974 143.883C98.2721 135.94 93.3421 120.536 97.4303 108.442C101.459 96.3475 114.505 87.5024 128.994 87.021C143.544 86.5397 159.596 94.3619 163.805 106.697Z" fill="url(#paint4_linear)" fill-opacity="0.36" />
                                    </g>
                                </g>
                            </g>
                            <defs>
                                <filter id="filter0_i" x="21" y="19" width="219" height="199" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                    <feOffset />
                                    <feGaussianBlur stdDeviation="5.5" />
                                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                                </filter>
                                <filter id="filter1_i" x="45" y="41" width="171" height="155" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                    <feOffset />
                                    <feGaussianBlur stdDeviation="5.5" />
                                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                                </filter>
                                <filter id="filter2_i" x="73" y="66" width="115" height="105" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                    <feOffset />
                                    <feGaussianBlur stdDeviation="5.5" />
                                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                                </filter>
                                <filter id="filter3_i" x="96" y="87" width="69" height="63" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                    <feOffset />
                                    <feGaussianBlur stdDeviation="5.5" />
                                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                                </filter>
                                <linearGradient id="paint0_linear" x1="130.5" y1="0" x2="130.5" y2="237" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#0066FF" stop-opacity="0.38" />
                                    <stop offset="1" stop-color="#FF0066" stop-opacity="0.09" />
                                </linearGradient>
                                <linearGradient id="paint1_linear" x1="130.5" y1="19" x2="130.5" y2="218" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#0066FF" stop-opacity="0.38" />
                                    <stop offset="1" stop-color="#FF0066" stop-opacity="0.09" />
                                </linearGradient>
                                <linearGradient id="paint2_linear" x1="130.5" y1="41" x2="130.5" y2="196" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#0066FF" stop-opacity="0.38" />
                                    <stop offset="1" stop-color="#FF0066" stop-opacity="0.09" />
                                </linearGradient>
                                <linearGradient id="paint3_linear" x1="130.5" y1="66" x2="130.5" y2="171" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#0066FF" stop-opacity="0.38" />
                                    <stop offset="1" stop-color="#FF0066" stop-opacity="0.09" />
                                </linearGradient>
                                <linearGradient id="paint4_linear" x1="130.5" y1="87" x2="130.5" y2="150" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#0066FF" stop-opacity="0.38" />
                                    <stop offset="1" stop-color="#FF0066" stop-opacity="0.09" />
                                </linearGradient>
                            </defs>
                        </svg>

                        @*<svg width="250" height="250" viewBox="0 0 238 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="MainGroup">
                <g id="Tow">
                    <g id="Tow_2" opacity="0.2" filter="url(#filter0_i)">
                        <path d="M233.88 68.6346C248.596 111.342 222.273 169.674 180.613 198.006C138.953 226.339 81.9555 224.672 44.8553 197.381C7.96225 169.882 -9.03341 116.55 5.06055 74.6761C18.9472 32.8022 63.9236 2.17805 113.874 0.511429C164.032 -1.15519 219.372 25.9274 233.88 68.6346Z" fill="url(#paint0_linear)" />
                    </g>
                </g>
                <g id="Three">
                    <g id="Three_2" opacity="0.2" filter="url(#filter1_i)">
                        <path d="M207.884 78.0522C219.268 110.917 198.905 155.806 166.678 177.61C134.45 199.413 90.3576 198.13 61.6574 177.129C33.1175 155.967 19.97 114.925 30.8728 82.7014C41.6154 50.4774 76.4084 26.9107 115.049 25.6281C153.851 24.3456 196.661 45.187 207.884 78.0522Z" fill="url(#paint1_linear)" fill-opacity="0.9" />
                    </g>
                </g>
                <g id="Four">
                    <g id="Four_2" opacity="0.2" filter="url(#filter2_i)">
                        <path d="M182.755 86.797C190.918 110.523 176.316 142.93 153.207 158.67C130.097 174.41 98.4797 173.485 77.8995 158.323C57.4343 143.046 48.0065 113.417 55.8247 90.1534C63.5279 66.8901 88.477 49.8767 116.185 48.9508C144.009 48.0249 174.707 63.0708 182.755 86.797Z" fill="url(#paint2_linear)" fill-opacity="0.9" />
                    </g>
                </g>
                <g id="Five">
                    <g id="Five_2" opacity="0.2" filter="url(#filter3_i)">
                        <path d="M158.492 95.5419C163.545 110.129 154.506 130.053 140.2 139.731C125.894 149.408 106.322 148.839 93.5815 139.517C80.9126 130.124 75.0764 111.908 79.9162 97.6054C84.6848 83.3028 100.13 72.8427 117.282 72.2735C134.506 71.7042 153.51 80.9546 158.492 95.5419Z" fill="url(#paint3_linear)" fill-opacity="0.9" />
                    </g>
                </g>
            </g>
            <defs>
                <filter id="filter0_i" x="0.129562" y="0.438644" width="237.87" height="218.123" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                    <feOffset />
                    <feGaussianBlur stdDeviation="7.5" />
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0.316793 0 0 0 0 0.290486 0 0 0 0 0.391667 0 0 0 0.08 0" />
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                </filter>
                <filter id="filter1_i" x="27.0583" y="25.5721" width="184.013" height="171.856" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="3.5" />
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                </filter>
                <filter id="filter2_i" x="53.0894" y="48.9104" width="131.951" height="125.179" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                </filter>
                <filter id="filter3_i" x="78.2229" y="72.2486" width="81.6838" height="78.5028" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                </filter>
                <linearGradient id="paint0_linear" x1="209.167" y1="6.64118" x2="20.9106" y2="226.108" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#7C2509" stop-opacity="0.5" />
                    <stop offset="0.628107" stop-color="#21CAF1" stop-opacity="0.6" />
                    <stop offset="1" stop-color="#4EC1DB" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint1_linear" x1="188.767" y1="30.3453" x2="44.0116" y2="199.984" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#BB3910" stop-opacity="0.5" />
                    <stop offset="0.628107" stop-color="#128EAB" stop-opacity="0.6" />
                    <stop offset="1" stop-color="#69C4D8" stop-opacity="0.4" />
                </linearGradient>
                <linearGradient id="paint2_linear" x1="169.046" y1="52.3562" x2="64.4352" y2="174.126" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#BB3910" stop-opacity="0.5" />
                    <stop offset="0.628107" stop-color="#128EAB" stop-opacity="0.6" />
                    <stop offset="1" stop-color="#39B7D3" stop-opacity="0.29" />
                </linearGradient>
                <linearGradient id="paint3_linear" x1="150.006" y1="74.3672" x2="85.7572" y2="149.669" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#BB3910" stop-opacity="0.5" />
                    <stop offset="0.628107" stop-color="#128EAB" stop-opacity="0.6" />
                    <stop offset="1" stop-color="#39B7D3" stop-opacity="0.29" />
                </linearGradient>
            </defs>
        </svg>*@

                        <h2 class="MainContentText  text-white">@SubItem.SubTitle</h2>
                        <div class="MainContent mt-5 pb-5 pt-5">
                            <img src=@SubItem.ImageUrl class="img-fluid" alt="smaple image">
                        </div>
                    </div>
                    

                   



                </div>
                }

            </div>




        </section>
        <!--Section: Content-->


    </div>
</div>
<div class="svgBackgroundButtom">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#74d5de" fill-opacity="1" d="M0,96L30,101.3C60,107,120,117,180,112C240,107,300,85,360,80C420,75,480,85,540,101.3C600,117,660,139,720,133.3C780,128,840,96,900,80C960,64,1020,64,1080,74.7C1140,85,1200,107,1260,106.7C1320,107,1380,85,1410,74.7L1440,64L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path></svg>
</div>

}
