@model QaisYousuf.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Authorization.cshtml";
}

<div class="AuthrizationAreaMainBackground">
    @{
        if (User.Identity.IsAuthenticated && User.IsInRole("Supper Admin"))
        {
            <div class="container z-depth-0">


                <!--Section: Content-->
                <section class="dark-grey-text pt-lg-5 pt-md-5">

                    <div class="row pr-lg-5">
                        <div class="col-lg-6 mb-4">

                            <div class="img-fluid">
                                <lottie-player src=https://assets9.lottiefiles.com/packages/lf20_yYOpBn.json background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>

                        </div>
                        <div class="col-lg-6 d-flex align-items-center text-center">
                            <div class="card card-cascade narrower mx-lg-4">

                                <!-- Card image -->
                                <div class="view view-cascade gradient-card-header blue-gradient">

                                    <!-- Title -->
                                    <h2 class="card-header-title">Admin Area</h2>
                                    <!-- Subtitle -->
                                    <!-- Facebook -->
                                    <a href="https://www.linkedin.com/in/qais-yousuf-75261b125/" target="_blank" type="button" class="btn-floating"><i class="fab fa-linkedin-in"></i></a>
                                    <!-- Twitter -->
                                    <a href="https://github.com/Qaisyousuf" target="_blank" type="button" class="btn-floating"><i class="fab fa-github"></i></a>
                                    <!-- Google + -->
                                    <a href="https://stackoverflow.com/users/9307351/qais-yousuf" target="_blank" type="button" class="btn-floating"><i class="fab fa-stack-overflow"></i></a>

                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade bg-transparent mx-lg-3 mx-md-3 ">

                                    <h3 class="font-weight-bold mb-4 light-blue-text">Hey, @User.Identity.Name Welcome</h3>

                                    <p class="text-justify">
                                        Web admins manage and maintain websites, taking into account functionality, appearance, content, and performance. Their main focus is on the technical aspects of web maintenance
                                    </p>

                                    <a href="/UIToCode/AdminPanel/Index" class="btn btn-primary btn-rounded btn-md"><i class="fas fa-cog"></i> Admin Panel </a>

                                </div>

                            </div>
                        </div>
                    </div>

                </section>
                <!--Section: Content-->


            </div>
        }
       
        else if (User.Identity.IsAuthenticated)
        {
            <div class="container my-5 z-depth-0">

                <section class="dark-grey-text">

                    <div class="row pr-lg-5">
                        <div class="col-lg-6 mb-4">

                            <div class="img-fluid">
                                <lottie-player src=https://assets10.lottiefiles.com/packages/lf20_fclga8fl.json background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>

                        </div>
                        <div class="col-lg-6 d-flex align-items-center text-center">
                            <div class="card card-cascade narrower mx-lg-4">

                                <!-- Card image -->
                                <div class="view view-cascade gradient-card-header blue-gradient">

                                    <!-- Title -->
                                    <h2 class="card-header-title">User Area</h2>
                                    <!-- Subtitle -->
                                    <!-- Facebook -->
                                    <a href="https://www.linkedin.com/in/qais-yousuf-75261b125/" target="_blank" type="button" class="btn-floating"><i class="fab fa-linkedin-in"></i></a>
                                    <!-- Twitter -->
                                    <a href="https://github.com/Qaisyousuf" target="_blank" type="button" class="btn-floating"><i class="fab fa-github"></i></a>
                                    <!-- Google + -->
                                    <a href="https://stackoverflow.com/users/9307351/qais-yousuf" target="_blank" type="button" class="btn-floating"><i class="fab fa-stack-overflow"></i></a>

                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade bg-transparent mx-lg-3 mx-md-3 mx-sm-2  ">

                                    <h3 class="font-weight-bold mb-4 light-blue-text">Hey, @User.Identity.Name Welcome</h3>

                                    <p class="text-justify">

                                        We are so glad you decided to try out our product, here are a few tips to get you up and running fast.
                                        If you need to have project with UIUXtoCode please contact us, our team are excited to design a demo for your company,
                                    </p>

                                    <button type="button" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#frameModalBottom">
                                        <i class="fas fa-paper-plane mr-2"></i> Contact Us
                                    </button>

                                </div>
                                <div class="modal fade bottom" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true">

                                    <!-- Add class .modal-frame and then add class .modal-bottom (or other classes from list above) to set a position to the modal -->
                                    <div class="modal-dialog modal-frame modal-bottom" role="document">


                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="row d-flex justify-content-center align-items-center">


                                                    @{ Html.RenderAction("Coneection", "Connection");}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </section>


            </div>
        }


    }
</div>



@section AuthrizationCustomCSS
{
    @Styles.Render("~/Content/AuthrizationCustomCSS.css")
}

