
html,
body,
header,
.view {
    padding-top: 30px;
    background-color: #fafafa;
}
.ui-widget {
    position: absolute;
    height: 100px;
    width: 600px;
    top: 100px;
    left: 383px;
    z-index: 101;
}

ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-draggable ui-resizable {
    position: absolute;
    height: 100px;
    width: 600px;
    top: 200px;
    left: 383px;
    z-index: 101;
}
ui-dialog {
    position: absolute;
    height: auto;
    width: 600px;
    top: 100px;
    left: 383px;
    z-index: 101;
}
.side-nav .logo-wrapper {
    height: 150px;
}
.double-nav .breadcrumb-dn {
    color: #fff;
}

.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: red;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

