
html,
body,
header,
.view {
    padding-top: 30px;
    background-color: #fafafa;
}

.side-nav .logo-wrapper{
    height:150px;
}
.double-nav .breadcrumb-dn {
    color: #fff;
}

.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: red;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

