
body {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    color: rebeccapurple;
}
/*@media(max-width:500px)
{
    body {
        overflow-x: hidden;
    }
   
}*/

header {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: transparent !important;
    -webkit-box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
    box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
}

.top-nav-collapse {
    background-color: #fafeff !important;
    -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
}



@media (max-width:575px) {
    .top-nav-collapse {
        background-color: #f5f9ff !important;
        -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    }
}

@media only screen and (max-width: 768px) {
    .top-nav-collapse {
        background-color: #f5f9ff !important;
        -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    }
}

@media (max-width: 575px) {
    .navbar {
        background-color: #fff !important;
        -webkit-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        -moz-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
    }
}

@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #fff !important;
        -webkit-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        -moz-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
    }
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
}

nav .nav-item .nav-link {
    color: #545f7e !important;
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'Varela Round', sans-serif;
    -webkit-transition: .35s;
    transition: .35s;
}

.navbar-brand {
    color: #29367d !important;
    font-weight: bold !important;
}

@media (max-width:767px) and (min-width:200px) {
    #BannerContent {
        margin-top: 50px;
    }
}







.btn-primary {
    background-color: #17bde3 !important;
    color: white;
}

.btn-outline-primary {
    border: 2px solid #17bde3 !important;
    color: #17bde3 !important;
}

.display-4 {
    color: #169cba !important;
    font-weight: bold;
    font-size: 2.5rem;
}

@media (max-width:800px) and (min-width:200px) {
    .display-3 {
        font-size: 2rem;
    }
}

@media (max-width:800px) and (min-width:200px) {
    .display-4 {
        font-size: 2rem;
    }
}






.footerwaves {
    margin-top: -50px;
}









#One {
    animation: test 10s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Tow {
    animation: test 9s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Three {
    animation: test 8s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Four {
    animation: test 7s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Five {
    padding: 10px;
    animation: test1 6s infinite ease-in-out;
    transform-origin: center;
    
    position: absolute;
    top: 20%;
}

@keyframes test1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}










.view-cascade {
    background-image: url('Images/blob.svg');
    background-position: center center;
    background-attachment: fixed;
}

.card card-cascade z-depth-1 {
    -webkit-box-shadow: 0px 0px 27px -5px rgba(242,243,255,1) !important;
    -moz-box-shadow: 0px 0px 27px -5px rgba(242,243,255,1) !important;
    box-shadow: 0px 0px 27px -5px rgba(242,243,255,1) !important;
}





.btn-rounded {
    border-radius: 0.3rem !important;
}




.pricing-card {
    background: -moz-linear-gradient(45deg, rgba(13,194,255,0) 0%, rgba(0,128,128,0) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(13,194,255,0)), color-stop(100%, rgba(0,128,128,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(13,194,255,0) 0%, rgba(0,128,128,0) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(13,194,255,0) 0%, rgba(0,128,128,0) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(13,194,255,0) 0%, rgba(0,128,128,0) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(13,194,255,0) 0%, rgba(0,128,128,0) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#0DC2FF',GradientType=1 ); /* ie6-9 */
}

.MainToolsBackground
{
   
    background-image:url(Images/backtools.svg);
    background-position:center left;
    background-size:cover;
    margin-right:-15px;
    
    background-attachment:scroll;
    box-sizing:border-box;
    
}
@media (max-width: 576px) {
    .MainToolsBackground {
        background-image: url(Images/backtools.svg);
        background-position: center center;
        background-size: cover;
       margin-left:-15px;
        margin-right: -15px;
        background-attachment: scroll;
        box-sizing: border-box;
    }
}
.WaveSVGsecond
{
    
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom:-30px;
}
.WaveSVGone {
    margin-top:100px;
    margin-left: -15px;
    margin-right: -15px;
}
.CodeDesignMainBackground {
    background-color: #ff7043;
    margin-left:-15px;
    margin-right:-15px;
    margin-top:-60px;
    margin-bottom:-60px;
}
.display-1
{
    font-size:5.5rem !important;
}
@media (max-width: 376px) {
    .display-1 {
        font-size: 1.3rem !important;
    }
}
@media (max-width: 576px)
{
    .display-1 {
        font-size: 3rem !important;
    }
    

}
@media (max-width: 776px) {
    .display-1 {
        font-size: 4rem !important;
    }
}
@media (max-width: 876px) {
    .display-1 {
        font-size: 4.1rem !important;
    }
}
@media (max-width: 976px) {
    .display-1 {
        font-size: 4rem !important;
    }
}
@media (max-width: 376px) {
    .display-1 {
        font-size: 2.5rem !important;
        text-align:center;
    }
}