
body {
   
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    color:rebeccapurple;
   
}
/*@media(max-width:500px)
{
    body {
        overflow-x: hidden;
    }
   
}*/

header {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: transparent !important;
    -webkit-box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
    box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
}

.top-nav-collapse {
    background-color: #fafeff !important;
    -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
}



@media (max-width:575px) {
    .top-nav-collapse {
        background-color: #f5f9ff !important;
        -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    }
}

@media only screen and (max-width: 768px) {
    .top-nav-collapse {
        background-color: #f5f9ff !important;
        -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    }
}

@media (max-width: 575px) {
    .navbar {
        background-color: #fff !important;
        -webkit-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        -moz-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
    }
}

@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #fff !important;
        -webkit-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        -moz-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
    }
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
}

nav .nav-item .nav-link {
    color: #545f7e !important;
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'Varela Round', sans-serif;
    -webkit-transition: .35s;
    transition: .35s;
}

.navbar-brand {
    color: #29367d !important;
    font-weight: bold !important;
}

@media (max-width:767px) and (min-width:200px) {
    #BannerContent {
        margin-top: 50px;
    }
}







.btn-primary {
    background-color: #17bde3 !important;
    color: white;
}

.btn-outline-primary {
    border: 2px solid #17bde3 !important;
    color: #17bde3 !important;
}

.display-4 {
    color: #169cba !important;
    font-weight: bold;
    font-size:2.5rem;
}

@media (max-width:800px) and (min-width:200px) {
    .display-3 {
        font-size: 2rem;
    }
}

@media (max-width:800px) and (min-width:200px) {
    .display-4 {
        font-size: 2rem;
    }
}




.ContactBackground {
    background-image: url('Images/Waihou 1.svg');
    background-size: cover;
    background-attachment: fixed;
    background-position:center center;
    height: auto;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom:50px;
   
}

.footerwaves {
   
   margin-top:-50px;
}
#ContactBannerVedio main {
    opacity: 0.2;
    position: absolute;
    top: 29%;
    right: 20%;
}

.StartUpprocessBackground {
    background-color: #74d5de;
    margin-left: -15px;
    margin-right: -15px;
    color: white;
    margin-top:-100px;
}
.svgBackground
{
    margin-left:-15px;
    margin-right:-15px;
    margin-top:-50px;
    margin-bottom:-100px;

}
.svgBackgroundButtom {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -50px;
    margin-bottom:-50px;

}

#One {
    animation: test 7s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Tow {
    animation: test 6s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Three {
    animation: test 5s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes test
{
    from{
        transform:rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#Four {
    animation: test 4s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
#Five {
    padding: 10px;
    animation: test1 3s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
    position: absolute;
    top: 20%;
}

@keyframes test1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ContactFormBackground {
    position:relative;
    top: 0%;
    padding-bottom: 50px;
    left: -15px;
    margin: 0px;
    padding: 0px;
    height: auto;
    width: auto;
}
.ContactSVGBackground svg {
    position: absolute;
    top: auto;
    left: auto;
    
}
.MainContentText
{
    position:absolute;
    top:-20%;
    left:32%;
    color:white !important;
}

.ProfileBackImage svg
{
    position:relative;
    top:0%;
    left:0%;
    
}
.profileImageForBackground img{
    position: absolute;
    top: 10%;
    left: 30%;
}
.view-cascade
{
    background-image:url('Images/Waihou 1.svg');
    background-position:center center;
    background-attachment:fixed;
    
}

.card card-cascade z-depth-1 {
    -webkit-box-shadow: 0px 0px 27px -5px rgba(242,243,255,1) !important;
    -moz-box-shadow: 0px 0px 27px -5px rgba(242,243,255,1) !important;
    box-shadow: 0px 0px 27px -5px rgba(242,243,255,1) !important;
}


