body {
    padding-top: 60px;
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
  
}
/*@media(max-width:500px)
{
    body {
        overflow-x: hidden;
    }
   
}*/

header {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: transparent !important;
    -webkit-box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
    box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
}

.top-nav-collapse {
    background-color: #fafeff !important;
    -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
}



@media (max-width:575px) {
    .top-nav-collapse {
        background-color: #f5f9ff !important;
        -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    }
}

@media only screen and (max-width: 768px) {
    .top-nav-collapse {
        background-color: #f5f9ff !important;
        -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    }
}

@media (max-width: 575px) {
    .navbar {
        background-color: #fff !important;
        -webkit-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        -moz-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
    }
}

@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #fff !important;
        -webkit-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        -moz-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
    }
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
}
nav .nav-item .nav-link {
    color: #545f7e !important;
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'Varela Round', sans-serif;
    -webkit-transition: .35s;
    transition: .35s;
}

.navbar-brand {
    color: #29367d !important;
    font-weight:bold !important;
}

@media (max-width:767px) and (min-width:200px)
{
    #BannerContent {
        margin-top: 50px;
       
    }
}







.btn-primary {
    background-color: #17bde3 !important;
    color: white;
}
.btn-outline-primary {
    border: 2px solid #17bde3 !important;
    color: #17bde3 !important;
}

.display-4 {
    color: #169cba !important;
    font-weight: bold;
}

@media (max-width:800px) and (min-width:200px)
{
    .display-4
    {
        font-size:2rem;
    }
}

.contentLandingBackground img
{
    position:relative;
    top:10%;
    left:-10%;
    height:500px;
    width:500px;
}

.SubContent
{
    position:absolute;
    top:30%;
    left:20%;

}


@media screen and (min-width:767px) 
{
    .landingImagebackground {
        position: relative;
        top: -10%;
        right: -10%;
        width: 800px;
        display: none;
    }
}


.landingimg img
{
    position:absolute;
    top:0%;
    right:10%;
    height:500px;
    width:500px;
    
}

.LogInBackground img {
    position: absolute;
    top: -30%;
    right: -20%;
    width: 950px;
   
}

@media (min-width: 1100px) and (max-width : 1150px) 
{
    .LogInBackground img {
        position: absolute;
        top: -30%;
        right: -20%;
        width: 900px;
    }

    .landingimg img {
        position: absolute;
        top: 0%;
        right: -5%;
        height: 500px;
        width: 500px;
    }
}

@media (min-width: 1050px) and (max-width : 1100px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -20%;
        width: 800px;
    }

    .landingimg img {
        position: absolute;
        top: 0%;
        right: -5%;
        height: 500px;
        width: 500px;
    }
}

@media (min-width: 1000px) and (max-width : 1050px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -20%;
        width: 780px;
    }

    .landingimg img {
        position: absolute;
        top: 0%;
        right: -5%;
        height: 500px;
        width: 500px;
    }
}

@media screen and (min-width: 950px) and (max-width : 1000px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -30%;
        width: 780px;
    }

    .landingimg img {
        position: absolute;
        top: 0%;
        right: -5%;
        height: 500px;
        width: 500px;
    }
    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -10%;
        height: 500px;
        width: 500px;
    }

    .SubContent {
        position: absolute;
        top: 30%;
        left: 20%;
    }
}

@media screen and (min-width:800px) and (max-width:950px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -30%;
        width: 700px;
        
        
    }

    .landingimg img {
        position: absolute;
        top: 0%;
        right: -5%;
        height: 500px;
        width: 500px;
    }
    .landingImagebackground {
        position: relative;
        top: -10%;
        right: -10%;
        width: 800px;
        display:none;
        
    }

    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -10%;
        height: 500px;
        width: 500px;
    }

    .SubContent {
        position: absolute;
        top: 30%;
        left: 20%;
    }
}

@media screen and (min-width: 767px) and (max-width : 800px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -30%;
        width: 680px;
        
    }

    .landingimg img {
        position: absolute;
        top: 0%;
        right: -5%;
        height: 500px;
        width: 500px;
    }

    .landingImagebackground {
        position: relative;
        top: -10%;
        right: -10%;
        width: 800px;
        display: none;
    }
    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -10%;
        height: 500px;
        width: 500px;
    }

    .SubContent {
        position: absolute;
        top: 30%;
        left: 20%;
    }
}

@media screen and (min-width: 767px) and (max-width : 850px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -30%;
        width: 650px;
    }

    .landingimg img {
        position: absolute;
        top: 0%;
        right: -5%;
        height: 500px;
        width: 500px;
    }

    .landingImagebackground {
        position: relative;
        top: -10%;
        right: -10%;
        width: 800px;
        display: none;
    }
    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -10%;
        height: 500px;
        width: 500px;
    }

    .SubContent {
        position: absolute;
        top: 30%;
        left: 20%;
    }
}

@media screen and (min-width: 700px) and (max-width : 767px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -30%;
       
        display:none;
    }

    .landingimg img {
        position: absolute;
        top: -5%;
        right: 8%;
        height: 500px;
        width: 500px;
    }

    .landingImagebackground {
        position: relative;
        top:-5%;
        right: -10%;
        width: 800px;
        
    }
    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -10%;
        height: 500px;
        width: 600px;
    }

    .SubContent {
        position: absolute;
        top: 30%;
        left: 10%;
    }
   

}

@media screen and (min-width: 600px) and (max-width : 700px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -10%;
        width: 650px;
        display: none;
    }

    .landingimg img {
        position: absolute;
        top: 0%;
        right:0%;
        height: 500px;
        width: 500px;
    }

    .landingImagebackground {
        position: relative;
        top: -5%;
        right: -10%;
        width: 650px;
    }
    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -10%;
        height: 500px;
        width: 600px;
    }

    .SubContent {
        position: absolute;
        top: 30%;
        left: 10%;
    }
   
}

@media screen and (min-width: 500px) and (max-width : 600px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -10%;
        width: 650px;
        display: none;
    }

    .landingimg img {
        position: absolute;
        top: -5%;
        right: -3%;
        height: 500px;
        width: 500px;
    }

    .landingImagebackground {
        position: relative;
        top: -5%;
        right: -10%;
        width: 631px;
    }
    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -10%;
        height: 500px;
        width: 500px;
    }

    .SubContent {
        position: absolute;
        top: 30%;
        left: 10%;
    }
    body {
        padding-top: 20px;
    }
}

@media screen and (min-width: 400px) and (max-width : 500px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -10%;
        width: 650px;
        display: none;
    }

    .landingimg img {
        position: absolute;
        top: -5%;
        right: -3%;
        height: 400px;
        width: 400px;
    }

    .landingImagebackground {
        position: relative;
        top: -5%;
        right: -5%;
        width: 531px;
    }
    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -20%;
        height: 500px;
        width: 500px;
    }

    .SubContent {
        position: absolute;
        top: 30%;
        left: 10%;
    }
    body {
        padding-top: 20px;
    }
}

@media screen and (min-width: 300px) and (max-width : 400px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -10%;
        width: 650px;
        display: none;
    }

    .landingimg img {
        position: absolute;
        top: -15%;
        right: -3%;
        height: 400px;
        width: 400px;
    }

    .landingImagebackground {
        position: relative;
        top: -15%;
        right: 0%;
        width: 431px;
    }
    .contentLandingBackground img {
        position: relative;
        top: 5%;
        left: -40%;
        height: 500px;
        width: 450px;
    }

    .SubContent {
        position: absolute;
        top: 25%;
        left: 10%;
    }
    body {
        padding-top: 10px;
    }
}

@media screen and (min-width: 200px) and (max-width : 300px) {
    .LogInBackground img {
        position: absolute;
        top: -25%;
        right: -10%;
        width: 650px;
        display: none;
    }

    .landingimg img {
        position: absolute;
        top: -10%;
        right: -3%;
        height: 400px;
        width: 400px;
    }

    .landingImagebackground {
        position: relative;
        top: -10%;
        right: 0%;
        width: 500px;
    }
    .contentLandingBackground img {
        position: relative;
        top: 10%;
        left: -95%;
        height: 500px;
        width: 500px;
    }

    .SubContent {
        position: absolute;
        top: 25%;
        left: 10%;
    }

}
.DataCollectionBackground
{
    background-image:url('Images/Waihou 1.svg');
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    height:auto;
    width:auto;
    margin:-15px;
    z-index:-1;
    
}
#DataCollectonItemImage {
    display:inline-block;
}

.WorkQualtiyBackground
{
    margin-top:-197px;
    margin-left:-15px;
    margin-right:-20px;
}
.WorkQualtiyBackground1 {
    
    margin-left: -15px;
    margin-right: -20px;
    
}
#MainContentWorkquality {
    
    background-color: #0099ff;
    color:white;
    margin-left:-15px;
    margin-right:-15px;
}

@media(max-width:700px)
{
    .main {
        height:auto;
        width:62%;
    }
}

.display-4
{
    font-size:2.5rem;
}






