body {
    padding-top: 60px;
   margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}

header {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: transparent !important;
    -webkit-box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
    box-shadow: -1px 3px 5px -200px rgba(0,0,0,0.75) !important;
}

.top-nav-collapse {
    background-color: #fafeff !important;
    -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
}



@media (max-width:575px) {
    .top-nav-collapse {
        background-color: #f5f9ff !important;
        -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    }
}

@media only screen and (max-width: 768px) {
    .top-nav-collapse {
        background-color: #f5f9ff !important;
        -webkit-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        -moz-box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
        box-shadow: -1px 7px 15px -5px rgba(162,169,171,0.6) !important;
    }
}

@media (max-width: 575px) {
    .navbar {
        background-color: #fff !important;
        -webkit-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        -moz-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
    }
}

@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #fff !important;
        -webkit-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        -moz-box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
        box-shadow: 0px 68px 55px -120px rgba(62,154,179,1);
    }
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
}
nav .nav-item .nav-link {
    color: #545f7e !important;
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'Varela Round', sans-serif;
    -webkit-transition: .35s;
    transition: .35s;
}

.navbar-brand {
    color: #29367d !important;
    font-weight:bold !important;
}

@media (max-width:767px) and (min-width:200px)
{
    #BannerContent {
        margin-top: 50px;
       
    }
}







.btn-primary {
    background-color: #17bde3 !important;
    color: white;
}
.btn-outline-primary {
    border: 2px solid #17bde3 !important;
    color: #17bde3 !important;
}

.display-4 {
    color: #169cba !important;
    font-weight: bold;
}

@media (max-width:800px) and (min-width:200px)
{
    .display-4
    {
        font-size:2rem;
    }
}

.contentLandingBackground img
{
    position:relative;
    top:10%;
    left:-10%;
    height:500px;
    width:500px;
}

.SubContent
{
    position:absolute;
    top:30%;
    left:20%;

}

.landingImagebackground img
{
    position:relative;
    top:-10%;
    right:-10%;
    
    width:800px;
}

.landingimg 
{
    position:absolute;
    top:0%;
    right:10%;
    
    width:500px;
}

.LogInBackground img {
    position: absolute;
    top: -24%;
    right: -20%;
    width: 950px;
   
}

