
body {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    color: rebeccapurple;
    margin-left:-15px;
    margin-right:-15px;
    
   
}


/*@media(max-width:500px)
{
    body {
        overflow-x: hidden;
    }
   
}*/

header {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.side-nav {
    background-color: #169cba;
}
nav .nav-item .nav-link {
    color: white !important;
}
.navbar {
    z-index: 1040;
    background-color: #169cba !important;
    color: white !important;
}
.logo-wrapper
{
    height:auto !important;
}

.side-nav {
    margin-top: 45px !important;
}

.double-nav .breadcrumb-dn p {
    color: #fff !important;
}

@media (min-width: 1200px) {
    .fixed-sn main {
        margin-left: 20% !important;
        margin-right: 20% !important;
    }
}

.btn-primary {
    background-color: #17bde3 !important;
    color: white;
}

.btn-outline-primary {
    border: 2px solid #17bde3 !important;
    color: white !important;
}
.display-5 {
    color: white !important;
    font-weight: bold;
    font-size: 3.5rem;
}
@media (max-width: 576px) {
    .display-5 {
        font-size: 3rem !important;
        color: white !important;
    }
}

@media (max-width: 776px) {
    .display-5 {
        font-size: 4rem !important;
        color: white !important;
    }
}

@media (max-width: 876px) {
    .display-5 {
        font-size: 4.1rem !important;
        color: white !important;
    }
}

@media (max-width: 976px) {
    .display-5 {
        font-size: 4rem !important;
        color: white !important;
    }
}

@media (max-width: 376px) {
    .display-5 {
        font-size: 2.5rem !important;
        color: white !important;
    }
}

.display-4 {
    color: #169cba !important;
    font-weight: bold;
    font-size: 2.5rem;
}
.display-3 {
    font-size: 4.3rem;
    color: #169CBA !important;
}


@media (max-width:800px) and (min-width:200px) {
    .display-4 {
        font-size: 2rem;
    }
}

.footerwaves {
    margin-top: -50px;
}

.btn-rounded {
    border-radius: 0.3rem !important;
}

.MainToolsBackground {
    background-image: url(Images/backtools.svg);
    background-position: center left;
    background-size: cover;
    margin-right: -15px;
    background-attachment: scroll;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .MainToolsBackground {
        background-image: url(Images/backtools.svg);
        background-position: center center;
        background-size: cover;
        margin-left: -15px;
        margin-right: -15px;
        background-attachment: scroll;
        box-sizing: border-box;
    }
}


.display-1 {
    font-size: 5rem !important;
    color: white !important;
}



@media (max-width: 576px) {
    .display-3 {
        font-size: 3rem !important;
        color: #169CBA !important;
    }
}

@media (max-width: 776px) {
    .display-3 {
        font-size: 4rem !important;
        color: #169CBA !important;
    }
}

@media (max-width: 876px) {
    .display-3 {
        font-size: 4.1rem !important;
        color: #169CBA !important;
    }
}

@media (max-width: 976px) {
    .display-3 {
        font-size: 4rem !important;
        color: #169CBA !important;
    }
}

@media (max-width: 376px) {
    .display-3 {
        font-size: 2.5rem !important;
        color: #169CBA !important;
    }
}


.FooterMainBackground {
    background-image: url(Images/FooterMedumBackground.svg);
    height: 795px;
    width: auto;
    margin-left:-15px;
    margin-right:-15px;
}


@media (max-width: 1920px) 
{
    .FooterMainBackground {
        background-image: url(Images/FooterBigBackground.svg);
        height: 652px;
        width: auto;
        background-position: center bottom;
        margin-top: 40px;
        background-repeat: no-repeat;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
        align-content: flex-end;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 1400px) {
    .FooterMainBackground {
        background-image: url(Images/FooterMedumBackground.svg);
        height: 795px;
        width: auto;
    }
}
@media (max-width: 767px) {
    .FooterMainBackground {
        background-image: url(Images/FooterSmallBackground.svg);
        height: 877px;
        width: auto;
    }
}

.PortofilioContentBackground .animationBackgroud {
    position: relative;
    top: 0%;
    left: 0px;
}
.ContentBack {
    position: absolute;
    left: 0px;
    top: 100px;
}



@media (max-width: 1920px) {
    .PortfolioMainBack {
        background-image: url(Images/PortfolioNewBackgroundBigDeivce.svg);
        
        background-position: center center;
        height: 868px;
        
    }
}
@media (max-width: 1567px) {
    .PortfolioMainBack {
        background-image: url(Images/PortfolioNewBackground.svg);
        height: 600px;
        
        
        background-repeat: no-repeat;
    }
}
@media (max-width: 990px) {
    .PortfolioMainBack {
        background-image: url(Images/PortfolioNewBackgroundMediamDeivce.svg);
        height: 930px;
        
     
        background-repeat: no-repeat;
    }
}
@media (max-width: 761px) 
{
    .PortfolioMainBack {
        background-image: url(Images/PortfolioNewBackgroundSmallDeivce.svg);
       
        background-position: center ;
        height: 661px;
        width: 100vw;
    }
}
.light-blue-text {
    color: #169cba !important;
}

.view-cascade {
    background-image: url('Images/Waihou 1.svg');
    background-position: center center;
    background-attachment: fixed;
    box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;
    -moz-box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;
}
.card.card-cascade.wider.reverse .card-body.card-body-cascade
{
    margin-top:-2rem !important;
}
.card-body-cascade {
    box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;
    -moz-box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;
}
.MainAboutMeBackground {
    
    height: 500px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    
   
}



@media (max-width: 990px) {
    .MainAboutMeBackground {
        
        height: 900px;
        
        width: auto;

    }
}
@media (max-width: 700px) {
    .MainAboutMeBackground {
        height: 900px;
        width: auto;
        
    }
}
.WorkEXMainBackground {
    background-image: url(Images/WorkExperience.svg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height: 750px;
   

   
}

@media (max-width: 1100px) {
    .WorkEXMainBackground {
        background-image: url(Images/WorkExperienceMedim.svg);
        height: 650px;
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width: 990px) {
    .WorkEXMainBackground {
        padding-top:30px;
        background-image: url(Images/WorkExperienceSmall.svg);
        height: 603px;
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width: 767px) {
    .WorkEXMainBackground {
        background-image: url(Images/WorkExperienceXSmall.svg);
        height: 1170px;
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width: 500px) {
    .WorkEXMainBackground {
        background-image: url(Images/WorkExperienceExtraSmall.svg);
        height: 1300px;
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.WorkExperienceMainBack .WorkSVGBack {
    position: relative;
    top: -10%;
    left: 0px;
}
.workContent
{
    position:absolute;
    top:15%;
    left:50px;
    
}
@media (max-width: 1100px) {
    .WorkExperienceMainBack .WorkSVGBack {
        position: relative;
        top: -10%;
        left: 0px;
    }

    .workContent {
        position: absolute;
        top: 15%;
        left: 50px;
    }
}
@media (max-width: 991px) {
    .WorkExperienceMainBack .WorkSVGBack {
        position: relative;
        top: -10%;
        left: 0px;
    }

    .workContent {
        position: absolute;
        top: 1%;
        left: 30px;
    }
}
@media (max-width: 767px) {
    .WorkExperienceMainBack .WorkSVGBack {
        position: relative;
        top: -10%;
        left: -50px;
    }

    .workContent {
        position: absolute;
        top: 15%;
        left: 100px;
    }
}
@media (max-width: 490px) {
    .WorkExperienceMainBack .WorkSVGBack {
        position: relative;
        top: -10%;
        left: 0px;
    }

    .workContent {
        position: absolute;
        top: 15%;
        left: 80px;
    }
}
.EducationMainback {
    background-image: url(Images/EducationbigBackground.svg);
    height: 721px;
    background-position: center;
    width: 100vw;
    background-repeat: no-repeat;
    
    background-position: center center;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 1600px) {
    .EducationMainback {
        background-image: url(Images/EducationbigMedumBackground.svg);
        height: 721px;
        margin-top: -80px;
        width: auto;
        background-repeat: no-repeat;
       
        background-position: center center;
        background-repeat: no-repeat;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: center;
        align-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media (max-width: 990px) {
    .EducationMainback {
        background-image: url(Images/EducationbigSmallBackground.svg);
        height: 901px;
        
        width: auto;
        background-repeat: no-repeat;
        
        background-position: center center;
        background-repeat: no-repeat;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: center;
        align-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.z-depth-1 {
    box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75)!important;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75)!important;
    -moz-box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75)!important;
}

.PortfolioProjectMainBack {
    
    background-image: url('Images/WorkExperienceMainBack.svg');
    height: auto;
    margin-top: auto;
    width: auto;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 900px) {
    .PortfolioProjectMainBack {
        background-image: url('Images/work.svg');
        height: auto;
        margin-top: auto;
        width: auto;
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: center;
        align-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.interestSVG lottie-player {
    position: relative;
    top: 0px;
    left: 3px;
}

.MainIcon img {
    position: absolute;
    top: 17px;
    left: 22px;
}
@media (max-width: 1198px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 10px;
    }
}
@media (max-width: 990px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 5px;
    }
}

@media (max-width: 767px) 
{
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }
    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 17px;
    }
}
@media (max-width: 575px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 41%;
    }
}
@media (max-width: 500px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 37%;
    }
}
@media (max-width: 400px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 35%;
    }
}
@media (max-width: 350px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 33%;
    }
}
@media (max-width: 315px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 30%;
    }
}
@media (max-width: 300px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 29%;
    }
}
@media (max-width: 200px) {
    .interestSVG lottie-player {
        position: relative;
        top: 0px;
        left: 0%
    }

    .MainIcon img {
        position: absolute;
        top: 17px;
        left: 27%;
    }
}
#One {
    animation: test 7s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Tow {
    animation: test 6s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Three {
    animation: test 5s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Four {
    animation: test 4s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#Five {
    padding: 10px;
    animation: test1 3s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
    position: absolute;
    top: 20%;
}

@keyframes test1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.interestMainBackground {
    background-image: url(Images/InterestBigBackground.svg);
    height: 850px;
    margin-top: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .interestMainBackground {
        background-image: url(Images/InterestMedumBackground.svg);
        height: 1500px;
        width: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-repeat: no-repeat;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: center;
        align-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media (max-width: 575px) {
    .interestMainBackground {
        background-image: url(Images/InterestSmallBackground.svg);
        height: 1900px;
       
        width: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-repeat: no-repeat;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: center;
        align-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media (max-width: 460px) {
    .interestMainBackground {
        background-image: url(Images/InterestXSmallBackground.svg);
        height: 1768px;
        width: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-repeat: no-repeat;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: center;
        align-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.ProfileContactBackground {
    background-image: url('Images/UIStepBack.svg');
    height: 800px;
    margin-top: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ContactProfile {
    
    box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;
    -moz-box-shadow: 0px 0px 10px -1px rgba(228,233,245,0.75) !important;

}