
@{
    ViewBag.Title = "Index";
}
<div class="card">

    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <div>
            <h4 class="card-title text-center">List of Contacts</h4>

            <hr />
            <table id="dataTable" class="table table-bordered table-hover table-striped table-responsive-sm ">
                <thead class="  mdb-color white-text">
                    <tr class="pt-2">
                        <th><i class="fas fa-sort-numeric-down"></i> Id</th>
                        <th><i class="fas fa-hashtag"></i> FullName</th>
                        <th><i class="fas fa-spell-check"></i> Email</th>
                        <th><i class="fas fa-link"></i> Mobile </th>
                        <th><i class="fas fa-link"></i> IP </th>
                        <th><i class="fas fa-wrench"></i> Actions</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

</div>
<!-- Card -->
@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}

@section scripts{

    <script>
         var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#dataTable").DataTable({
                "ajax": {
                    "url": "/UIToCode/ContactFormBackEnd/GetContactFormData",
                    "type": "GET",
                    "datatype": "json",

                },
                "columns": [
                    { "data": "Id" },
                    { "data": "FullName" },
                    { "data": "Email" },
                    { "data": "Moible" },
                    { "data": "IpAddress" },

                    {
                        "data": "actions",
                        "className": "dt-body-right",
                        "data": "Id", "render": function (data)

                        {
                            return "<a class='btn btn-default btn-md btn-rounded' onclick=PopupForm('@Url.Action("Details", "ContactFormBackEnd")/" + data + "')><i class='fas fa-info-circle'> </i> Details </a> | <a class='btn btn-danger btn-md btn-rounded' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete </a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });



        function PopupForm(url) {

            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        modal: true,

                        open: function () {
                            overlayOpacityNormal = $('.ui-widget-overlay').css('opacity');
                            $('.ui-widget-overlay').css('opacity', .9);
                        },

                        beforeClose: function () {
                            $('.ui-widget-overlay').css('opacity', .9);
                        },
                        autoOpen: true,
                        resizable: true,
                        title: 'Entry Form',
                        height: 570,
                        width: 600,

                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }

        function SubmitFormDetails(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });


                        }
                    }
                });
            }
            return false;
        }
        function Delete(id) {
            if (confirm('Are You Sure to Delete this  Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "ContactFormBackEnd")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }

    </script>
}
