@model QaisYousuf.ViewModels.HomeBannerViewModel
@{


    ViewBag.Title = ViewBag.PageTitle;
}

@if (Model?.Id != null)
{
    <div class="bg-transparent">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-6">
                   <div class="contentLandingBackground">
                       <img src="~/Content/Images/12.-No-Messages.svg" />
                       <div class="SubContent">
                           <div class="display-4">@Model.Title</div>
                           <p>@Html.Raw(Model.SubTitle)</p>
                           <button class="btn btn-primary">Get Started</button>
                       </div>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="landingImagebackground">
                       <img src="~/Content/Images/12.-No-Messages.svg" class="img-fluid" />

                   </div>
                   <div class="landingimg">
                       <img src="~/Content/Images/Landing.svg" class="img-fluid" />
                   </div>
               </div>
           </div>
       </div>

    </div>
}

@section HomeCustomCSS
    {
    @Styles.Render("~/Content/HomeCustomCSS.css")
}
