
@{
    ViewBag.Title = "Index";
}

<div class="card">

    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <div>
            <h4 class="card-title text-center"><a>List Home Banner</a></h4>
            <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("Create","Home")')"><i class="fa fa-plus"></i> Add New</a>
            <hr />
            <table id="dataTable" class="table table-bordered table-hover table-striped table-responsive-sm ">
                <thead class="  mdb-color white-text">
                    <tr class="pt-2">
                        <th><i class="fas fa-hashtag"></i> Ttitle</th>
                        <th><i class="fas fa-align-center"></i> SubTitle</th>
                        <th><i class="fas fa-check-square"></i> Button Text</th>
                        <th><i class="fas fa-wrench"></i> Actions</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

</div>
<!-- Card -->



@section scripts{
   

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#dataTable").DataTable({
                "ajax": {
                    "url": "/Home/GetHomeBanner",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Title" },
                    { "data": "SubTitle" },
                    { "data": "ButtonText" },
                   
                    {"data":"EmployeeID" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Employee")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Employee Details',
                    height: 500,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if($(form).valid()){
                $.ajax({
                    type : "POST",
                    url : form.action,
                    data : $(form).serialize(),
                    success : function (data) {
                        if(data.success)
                        {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message,{
                                globalPosition :"top center",
                                className : "success"
                            })

                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if(confirm('Are You Sure to Delete this Employee Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Employee")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
    </script>
}
