@model QaisYousuf.ViewModels.PageViewModel
@{
    ViewBag.Title = ViewBag.PageTitle;
}

<div class="container my-5 z-depth-1">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <div class="row pr-lg-5">
            <div class="col-md-7 mb-4">

                <div class="view">
                    <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
                </div>

            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div>

                    

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                    <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button>

                </div>
            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>

@section HomeCustomCSS
{
    @Styles.Render("~/Content/HomeCustomCSS.css")
}